.header-top {
   height: 50px;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
}

div {
    display: block;
}

.logo {
    height: 30px;
}

.logo1 {
    height: 50px;
    width: 50px;
}

.left {
    width: calc(100% / 3);
}

.center {
    width: calc(100% / 3);
}

.right {
    width: calc((100% / 3) * 0.99);
}


.link1 {
    padding-left: 20px;
    text-decoration: none;
    color: grey;
}

.link2 {
    padding-left: 20px;
    text-decoration: none;
    color: grey;
}

.header-bottom {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightcyan;
}

.rettangolo1 {
    margin-left: 300px;
    width: 1000px;
    height: 250px;
}

.pink2 {
    height: 450px;
    width: calc((100% / 3) - 100px);
    margin: 0px 0 110px 300px;
}
  
.blue {
    height: 450px;
    width: calc((100% / 3) + 100px);
    background-image: url(img/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.button {
    margin-top: 10px;
    margin-bottom: 40px;
}

.annulla {
    text-decoration: none;
    color: grey;
}

.free-trail {
    padding: 2px;
    vertical-align: center;
    color: white;
    height: 50px;
    background-color: aqua;
}

.free-trail1 {
    padding: 2px;
    vertical-align: center;
    color: white;
    height: 20px;
    margin-top: 20px;
    background-color: aqua;
}

.free-trail2{
    float: right;
    vertical-align: center;
    color: white;
    height: 20px;
    margin-bottom: 20px;
    background-color: aqua;
}

.rettangolo2a {
    height: 300px;
    padding-left: 75px;
}

.rettangolo2 {
    height: 1000px;
    margin-right: 300px;
    justify-content: center;
}

.scritte {
  padding: 15px;
}

#Q1 {
  font-size: 25px;
}

#Q2 {
  font-size: 15px;
}
.colonne {
    display: inline-block;
    background-color:lightblue;
    width: 31%;
    height: 100px;
    margin-left: 10px;
}

.fa-ul {
    list-style-type: none;
}

.titolo {
    padding-top: 100px;
    font-size: 35px;
}

.rettangolo3 {
    height: 300px;
    width: 845px;
    margin-left: 75px;
    font-size: 30px;
    padding: 20px;
    border: 1px dashed black;
}

.rettangolo3a {
    height: 30px;
    margin-left: 75px;
    width: 885px;
    text-align: center;
    padding-top: 20px;
    border: 1px dashed black;
}

.rettangolo3b {
    height: 30px;
    margin-left: 75px;
    width: 845px;
    padding-top: 20px;
    margin-top: 20px;
}

.rettangolo3-scritta1 {
    font-size: 30px;
}

.rettangolo3-scritta2 {
    font-size: 20px;
}

.rettangolo3-scritta3 {
    font-size: 15px;
    padding-right: 300px;
}

.blue2 {
    height: 450px;
    width: calc((100% / 3) + 100px);
    margin: 100px 0px 0px 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(img/partner.png);
}
  
.pink3 {
    height: 450px;
    width: calc((100% / 3) - 100px);
    margin-top: 100px;
    padding-left: 10px;
}

.Dropbox-Business > h1{
    padding-left: 75px;
    margin-right: 450px;
    font-size: 150%;
}

.Dropbox-Business > a{
    padding-left: 75px;
}

.block {
    display: flex;
}

.quadrato1 {
    height: 300px;
    width: calc(100% / 3);
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.quadrato1-a {
    height: 200px;
    width: calc(100% / 2);
    background-color: lightgreen;
}

.quadrato1 img {
    position: relative;
}

.quadrato1-a img {
    height: 50px;
    width: 100px;
    top: 40%;
}

.quadrato1-b {
    width: calc(100% / 2);
    height: 200px;
    background-color: brown;
}

.quadrato1-b img {
    height: 100px;
    width: 200px;
    top: 20%;
}

.quadrato1-c {
    width: calc(100% / 2);
    height: 200px;
    background-color: blue;
}

.quadrato1-c img {
    width: 130px;
    height: 30px;
    top: 40%;
}

.quadrato1-d {
    width: calc(100% / 2);
    height: 200px;
    background-color: red;
}

.quadrato1-d img {
    height: 80px;
    width: 140px;
    top: 30%;
}

.quadrato2 {
    width: calc(100% / 3);
    background-color: lightgray;
    height: 400px;
}

.quadrato2-a {
    padding: 20px;
}

.quadrato2-a img {
    height: 100px;
    width: 200px;
}

.quadrato2-a div:last-child {
    top: 70px;
    position: relative;
}

.quadrato2-a div {
    top: 30px;
    position: relative;
}

.quadrato3 {
    height: 300px;
    width: calc(100% / 3);
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.quadrato3-a {
    height: 200px;
    width: calc(100% / 2);
    background-color: red;
}

.quadrato3 img {
    position: relative;
}

.quadrato3-a img {
    height: 50px;
    width: 100px;
    top: 40%;
}

.quadrato3-b {
    width: calc(100% / 2);
    height: 200px;
    background-color: lightblue;
}

.quadrato3-b img {
    height: 100px;
    width: 200px;
    top: 20%;
}

.quadrato3-c {
    width: calc(100% / 2);
    height: 200px;
    background-color: darkblue;
}

.quadrato3-c img {
    width: 130px;
    height: 30px;
    top: 40%;
}

.quadrato3-d {
    width: calc(100% / 2);
    height: 200px;
    background-color: yellow;
}

.quadrato3-d img {
    height: 80px;
    width: 140px;
    top: 30%;
}

.prova-gratuita {
    height: 300px;
    background-color: lightblue;
    padding-left: 375px;
}

.prova-gratuita-1 {
    display: flex;
}

.prova-gratuita div {
    position: relative;
    top: 50%;
    font-size: 25px;
    color: lightcoral;
}

.prova-gratuita-1 button {
    margin-left: 100px;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

main > section{
    margin-left: 300px;
    margin-right: 100px;
}

.foto1 {
    width: 250px;
    height: 200px;
    margin-left: 75px;
    margin-top: 125px;
}